<table width="100%"  cellpadding="0" cellspacing="10">
	<tr  style="background-color:#bcc5ca">
		<td>
			<div  style="text-align:left;overflow:auto">
				$widgets.grid_tag(id=$grid_id, width="100%",columns=$data_header)
			</div>
		</td>
	</tr>
</table>